<!DOCTYPE HTML>
<html ng-app="UserWsApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Otus HW 16.1</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{css/materialize.min.css}" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/angularjs/angular.min.js"></script>
    <head>
<body>
<div ng-controller="WsCtrl as main">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">
                <img class="responsive-img" th:src="@{image/otus.svg}">
                HW 16.1 - MS</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <a class="btn-floating btn-small waves-effect waves-light manipulate">
                    <i ng-click="main.connectWs()" class="material-icons">sync</i>
                </a>
                <a class="btn-floating btn-small waves-effect waves-light disabled manipulate">
                    <i ng-click="main.disconnectWs()" class="material-icons">sync_disabled</i>
                </a>
            </ul>
        </div>
        <div class="nav-content">
            <button data-target="modal1"
                    class="btn-floating modal-trigger btn-large halfway-fab waves-effect waves-light teal left disabled manipulate">
                <i class="material-icons left">add</i>
            </button>
        </div>
    </nav>
    <div id="container" class="container">
        <div id="modal1" class="modal">
            <div class="modal-content">
                <form ng-submit="main.submitUser()" enctype="multipart/form-data">
                    <input type="hidden" ng-model="main.userForm.id"/>
                    <span class="card-title">Введите имя и фамилию пользователя</span>
                    <div class="card">
                        <div class="card-content">
                            <table border="0">
                                <tr>
                                    <td>Имя</td>
                                    <td><input type="text" ng-model="main.userForm.name"/></td>
                                </tr>
                                <tr>
                                    <td>Фамилия</td>
                                    <td><input type="text" ng-model="main.userForm.surname"/></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button class="btn waves-effect waves-light modal-close" type="submit"
                                                name="action">Отправить
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <table border="1">
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th></th>
                <th></th>
            </tr>
            <!-- $scope.users -->
            <tr ng-repeat="user in main.users">
                <td> {{ user.name }}</td>
                <td> {{ user.surname }}</td>
                <td>
                    <button data-target="modal1"
                            class="btn-floating modal-trigger btn-small waves-effect waves-light manipulate">
                        <i ng-click="main.editUser(user)" class="small material-icons">edit</i>
                    </button>
                </td>
                <td>
                    <a class="btn-floating btn-small waves-effect waves-light manipulate">
                        <i ng-click="main.deleteUser(user)" class="small material-icons">delete</i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" th:src="@{scripts/lib/materialize.min.js}"></script>
<script th:src="@{scripts/controller/ws_controller.js}"></script>
</body>
</html>